<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| NovuVitae</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/1162263699256508467/1162264041931145286/logo-icon.png?ex=66770cfd&is=6675bb7d&hm=008d54e80baa54af59b734f2a7c7787f90fa053de777e4a9fe91e050db59041e&" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/root.css">

</head>
<body>

<%- include('partials/navbar') %>

<%- include('home') %>

<%- include('servers') %>

<%- include('anuncios') %>

<%- include('partials/footer') %>

<!-- Bootstrap JS and dependencies -->
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
